[KEYS]
bot_api = {{ telegram_api_key }}
[ADMIN]
id = {{ telegram_admin_id }}
ups_ip = {{ telegram_ups_ip }}
log_file_location= {{ telegram_log_location }}
[DATABASE]
host={{ mysql_server_ip }}
user={{ telegram_user_account }}
database={{ telegram_user_account }}
password={{ lookup('password', 'credentials/mysql/' + telegram_user_account + '.txt length=15')  }}
