[KEYS]
bot_api = {{ telegram_api_key }}
[ADMIN]
id = {{ telegram_admin_id }}
ups_ip = {{ telegram_ups_ip }}
log_file_location= {{ telegram_log_location }}
[DATABASE]
host={{ mysql_server_ip }}
user={{ telegram_user_account }}
database={{ telegram_user_account }}
password={{ lookup('password', 'credentials/mysql/' + telegram_user_account + '.txt length=15')  }}
[GARAGE]
hostname=172.16.2.102
port= {{ garage_door_port }}
username={{ lookup('password', 'credentials/garage_door/user.txt length=10 chars=ascii_letters,digits') }}
password={{ lookup('password', 'credentials/garage_door/password.txt length=10 chars=ascii_letters,digits') }}
[ALERTS]
api_endpoint={{ telegram_alerts_endpoint }}
# host for getting alertts
hostname=127.0.0.1:25001

heartbeat=1
passive_alerts_endpoint=http://localhost:25003/submit_check
