[DATABASE]
host={{ mysql_server_ip }}
user=temperature
password={{ mysql_temperature_password }}
database=temperature

[DARKSKY]
api_key={{ darksky_api_key }}
location_coordinates={{ darksky_api_coordinates }}
