[Unit]
Description={{ microservice_name }} on port {{ microservice_port }}

[Service]
Type=simple
User= {{ garage_door_user }}
Group= {{ garage_door_user }}

Environment="TZ=America/New_York"
Environment="PYTHONPATH=${PYTHONPATH}:/home/{{ garage_door_user }}/{{ microservice_name }}/raspberry-pi-microservices"
WorkingDirectory=/home/{{garage_door_user }}/{{ microservice_name }}/raspberry-pi-microservices/{{ microservice_name }}
ExecStart=/home/{{ garage_door_user }}/{{ microservice_name }}/virtual-env/bin/python {{ microservice_name }}_server.py

Restart=on-success
RestartSec=30

[Install]
WantedBy=multi-user.target
