###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
# Last Modified: 05-31-2007
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               nas
        alias                   NAS
        address                 172.16.1.10
        }



###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             PING
	check_command			check_ping!100.0,20%!500.0,60%
        }


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             Root Partition
        check_command                   ssh_disk!20%!10%!/
	}

define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             Raid 0 Space
	check_command			ssh_disk!20%!10%!/mnt/raid0
        }
define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             Raid 1 Space
        check_command                   ssh_disk!10%!5%!/mnt/raid1
        }
define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             VM Drives Space
        check_command                   ssh_disk!10%!5%!/mnt/vm_drive_raid1
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             Current Users
	check_command			check_total_users_by_ssh
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             Total Processes
	check_command			check_total_processes_by_ssh
        }



# Define a service to check the load on the local machine. 

define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             Current Load
#check_command			check_nrpe!check_load
        check_command			check_load_by_ssh
        }



# Define a service to check the swap usage the local machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

#define service{
#       use                             local-service         ; Name of service template to use
#       host_name                       nas
#       service_description             Swap Usage
#       check_command			check_nrpe!check_swap
#       }



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             SSH
	check_command			check_ssh
        }



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service{
        use                             core-temp-service     ; Name of service template to use
        service_description             CPU Temperature Core 0
	_core_number			0
        }


define service{
        use                             core-temp-service     ; Name of service template to use
        service_description             CPU Temperature Core 1
	_core_number			1
        }


define service{
        use                             core-temp-service     ; Name of service template to use
        service_description             CPU Temperature Core 2
	_core_number			2
        }

define service{
        use                             core-temp-service     ; Name of service template to use
        service_description             CPU Temperature Core 3
	_core_number			3
        }


#define service{
#       use                             local-service         ; Name of service template to use
#       host_name                       nas
#       service_description             FTP
#check_command			check_ftp
#       }
define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             Uptime
        check_command                   check_uptime_by_ssh
        }
#define service{
#       use                             local-service         ; Name of service template to use
#       host_name                       nas
#       service_description             MySQL Server Status
#       check_command                   check_nrpe!check_mysql
#       }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
        service_description             RAID Status
        check_command                   check_raid_by_ssh
        }

define service{
        use                             local-service         ; Name of service template to use
        host_name                       nas
	contacts			{{ nagios_contact_name }}-sms
        service_description             KVM Status
        check_command                   check_kvm_by_ssh
        }

define service{
        use                             smart-status-service         ; Name of service template to use
        service_description             Smart Status sda
	_disk_drive			/dev/sda
	passive_checks_enabled		1
	active_checks_enabled		0
        }

define service{
        use                             smart-status-service         ; Name of service template to use
        service_description             Smart Status sdb
	_disk_drive			/dev/sdb
	passive_checks_enabled		1
	active_checks_enabled		0
        }

define service{
        use                             smart-status-service         ; Name of service template to use
        service_description             Smart Status sdc
	_disk_drive			/dev/sdc
	passive_checks_enabled		1
	active_checks_enabled		0
        }

define service{
        use                             smart-status-service         ; Name of service template to use
        service_description             Smart Status sdd
	_disk_drive			/dev/sdd
	passive_checks_enabled		1
	active_checks_enabled		0
        }

define service{
        use                             smart-status-service         ; Name of service template to use
        service_description             Smart Status sde
	_disk_drive			/dev/sde
	passive_checks_enabled		1
	active_checks_enabled		0
        }

define service{
        use                             smart-status-service         ; Name of service template to use
        service_description             Smart Status sdf
	_disk_drive			/dev/sdf
	passive_checks_enabled		1
	active_checks_enabled		0
        }

define service{
        use                             smart-status-service         ; Name of service template to use
        service_description             Smart Status sdg
	_disk_drive			/dev/sdg
	active_checks_enabled		0
	passive_checks_enabled		1
        }

define service{
        use                             smart-status-service         ; Name of service template to use
        service_description             Smart Status sdh
	_disk_drive			/dev/sdh
	passive_checks_enabled		1
	active_checks_enabled		0
        }

define service{
        use                             smart-status-service         ; Name of service template to use
        service_description             Smart Status sdi
	_disk_drive			/dev/sdi
	passive_checks_enabled		1
	active_checks_enabled		0
        }

define service{
        use                             generic-service         ; Name of service template to use
        service_description             Windows VM Backups File Age
	host				nas
	check_command			check_file_age_by_ssh!/mnt/vm_drive_raid1/ssd_vm_drives/
}

define service{
        use                             generic-service         ; Name of service template to use
        service_description             Linux VM Backups File Age
	host				nas
	check_command    		check_file_age_by_ssh!/mnt/vm_drive_raid1/vm_drives/
}

define service{
        use                             generic-service         ; Name of service template to use
        service_description             Asterisk Backups File Age
	host				nas
	check_command    		check_file_age_by_ssh!/mnt/vm_drive_raid1/vm_drives/
}


