[general]
port = {{ microservice_port }}
hostname={{ ansible_hostname }}

[auth]
username={{ lookup('password', 'credentials/{{ microservice_name }}/user.txt length=10 chars=ascii_letters,digits') }}
password={{ lookup('password', 'credentials/{{ microservice_name }}/password.txt length=10 chars=ascii_letters,digits') }}
