github_api_key: API_KEY
sudo_user_to_configure: deploy 
user_to_configure: "{{ sudo_user_to_configure }}"
telegram_user_public_key_location: /tmp/telegram-bot-ssh.pub
mysql_server_ip: XXX.XXX.XXX.XXX
telegram_api_key: API_KEY
telegram_ups_ip: XXX.XXX.XXX.XXX
telegram_admin_id: ADMIN_ID
